{% load i18n %}{% load url from future %}{% load homepage_helpers %}<!DOCTYPE html>
<html lang="en">
  <head>
	  <meta http-equiv="content-type" content="text/html; charset=utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <title>Dental System :: {% block title %}{% endblock %}</title>
	  <link href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.8.21.custom.css" rel="stylesheet">
	  <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
	  <link href="{{ STATIC_URL }}css/bootstrap-theme.min.css" rel="stylesheet">
	  <link href="{{ STATIC_URL }}css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.ico">
    <!--  style type="text/css">
    	body {
    		background-color: #fff;
			background-image: -webkit-linear-gradient(#ff0000, #ffffff);
			background-repeat:no-repeat;
			background-size:100% 325px;
			background-position: left top;
			background-attachment: fixed;
    	}
    </style -->
	 {% block css %}{% endblock %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/common.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-timepicker-addon.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/custom_timepicker.js"></script>
  </head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{% url 'homepage_index' %}">
						<img style="max-width:100px; margin-top: -11px; margin-left:10px;" src="{{ STATIC_URL }}images/Logo.png" alt="LOGO">
					</a>
				</div>
			
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								{% trans 'Customers' as customers_label %}{{ customers_label|title }}<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li class="dropdown-header">Dashboard</li>
								<li><a href="{% url 'customers_index'%}">Customers List</a></li>
								<!-- <li class="divider"></li> -->
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								{% trans 'Dentists' as dentists_label %}{{ dentists_label|title }}<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li class="dropdown-header">Dashboard</li>
								<li><a href="{% url 'dentists_index'%}">List</a></li>
								<!-- <li class="divider"></li> -->
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								{% trans 'Transaction' as trx_label %}{{ trx_label|title }}<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li class="dropdown-header">Dashboard</li>
								<li><a href="{% url 'trxs_index'%}">List</a></li>
								<!-- <li class="divider"></li> -->
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								{% trans 'Treatments' as treatment_label %}{{ treatment_label|title }}<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li class="dropdown-header">Dashboard</li>
								<li><a href="{% url 'treatments_index'%}">List</a></li>
								<!-- <li class="divider"></li> -->
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								{% trans 'Price List' as price_label %}{{ price_label|title }}<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li class="dropdown-header">Dashboard</li>
								<!-- <li><a href="#">{% trans 'Product' as category_index %}{{ category_index|title }}</a></li>
								<!-- <li><a href="#">{% trans 'Price' as price_index %}{{ price_index|title }}</a></li> -->
								<!-- <li class="divider"></li> -->
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								{% trans 'inventories' as inventory_label %}{{ inventory_label|title }}<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li class="dropdown-header">Dashboard</li>
								<li><a href="{% url 'consumables_index'%}">Consumables</a></li>
								<!-- <li><a href="#">Consumables Mutation Report</a></li> -->
								<li role="separator" class="divider"></li>
							</ul>
						</li>
					</ul>
					
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								{% trans 'Working Time' as working_time_label %}{{ working_time_label|title }}<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li class="dropdown-header">Dashboard</li>
							</ul>
						</li>
					</ul>
										
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="margin-right:10px;">Admin<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">{% trans 'change language' as change_language %}{{ change_language|title }}</a></li>
								<li><a href="{% url 'vendors_index'%}">Vendor Management</a></li>
							</ul>
						</li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	    <div class="container">{% block content %}{% endblock %}</div>
	    {% block js %}{% endblock %}
	</body>
</html>
