{% extends "layouts/list_template.html" %}{% load homepage_helpers %}{% load i18n %}{% load url from future %}
{% block additional_right_button %}

{% endblock %}

{% block table_headers %}    
    <tr>
        <th><a href="?{% sort_field_query 'sku' %}">Sku</a></th>
        <th><a href="?{% sort_field_query 'name' %}">Name</a></th>
        <th><a href="?{% sort_field_query 'mutation_qty' %}">Stock In Qty</a></th>
        <th><a href="?{% sort_field_query 'price_pcs' %}">Price per Pcs</a></th>
        <th><a href="?{% sort_field_query 'remarks' %}">Remarks</a></th>
    </tr>    
{% endblock %}
{% block table_rows %}
    <td>{{ obj.consumable.sku }}</td>
    <td>{{ obj.consumable.name }}</td>
    <td>{{ obj.mutation_qty }}</td>
    <td>{{ obj.price_pcs }}</td>
    <td>{{ obj.remarks }}</td>
{% endblock %}

