<br />
<br />
<a class="navbar-brand" href="{% url 'homepage_index' %}">
	<img style="max-width:150px; margin-left:10%;" src="{{ STATIC_URL }}images/Logo.png" alt="LOGO">
</a>

<!-- Codes by HTML.am -->

<!-- CSS Code -->
<style type="text/css" scoped>
table.GeneratedTable {
width:80%;
background-color:#FFFFFF;
border-collapse:collapse;border-width:1px;
border-color:#000000;
border-style:solid;
color:#000000;
margin:auto;
}

table.GeneratedTable td, table.GeneratedTable th {
border-width:1px;
border-color:#000000;
border-style:solid;
padding:3px;
}

table.GeneratedTable thead {
background-color:#CCFF99;
}

table.signatureTable {
margin-right: 10%;
margin-left: auto;
text-align:center;
width:25%;
}

table.signatureTable td{
padding:3px;
vertical-align: top;
}
</style>

<!-- HTML Code -->
<p style="text-align: right; margin-top: -50px; margin-right:10%;">{{trx_data.trx_number}} </p>
<h2 style='text-align: center'>Billing Statement</h2>

<p style="text-align: left; margin-left:10%">
Customer Name:&emsp;{{customer_name}}


</p>
<table class="GeneratedTable">
<thead>
<tr>
<th>Treatments</th>
<th>Price</th>
<th>Remarks</th>
<th>Total</th>
</tr>
</thead>
<tbody>
{% for data in object_list %}
    <tr>
    <td>{{data.detail_type}}</td>
    <td>{{data.treatment_price|add:"0"}}</td>
    <td>{{data.remarks}}</td>
    <td>{{data.price|add:"0"}}</td>
    </tr>
{% endfor %}
<tr>
<td></td>
<td></td>
<td></td>
<td>{{trx_amount}}</td>
</tr>
</tbody>
</table>
<br><br>
<table class='signatureTable'>
<tbody>
<tr style='height:125px'>
<td> Tangerang, {{trx_data.created_time|date:'d E Y'}}</td>
</tr>
<tr>
<td>{{trx_data.dentist.name}}</td>
</tr>
</tbody>
</table>