<br />
<br />
<a class="navbar-brand" href="{% url 'homepage_index' %}">
	<img style="max-width:100px; margin-top: -11px; margin-left:10px;" src="{{ STATIC_URL }}images/Logo.png" alt="LOGO">
</a>

<!-- Codes by HTML.am -->

<!-- CSS Code -->
<style type="text/css" scoped>
table.GeneratedTable {
width:90%;
background-color:#FFFFFF;
border-collapse:collapse;border-width:1px;
border-color:#000000;
border-style:solid;
color:#000000;
margin:auto;
}

table.GeneratedTable td, table.GeneratedTable th {
border-width:1px;
border-color:#000000;
border-style:solid;
padding:3px;
}

table.GeneratedTable thead {
background-color:#CCFF99;
}
</style>

<!-- HTML Code -->
<table class="GeneratedTable">
<thead>
<tr>
<th>Treatments</th>
<th>Qty</th>
<th>Discount</th>
<th>Total</th>
</tr>
</thead>
<tbody>
{% for data in object_list %}
    <tr>
    <td>{{data.detail_type}}</td>
    <td>{{data.qty|add:"0"}}</td>
    <td>{{data.discount|add:"0"}}</td>
    <td>{{data.price|add:"0"}}</td>
    </tr>
{% endfor %}
<tr>
<td></td>
<td></td>
<td></td>
<td>{{trx_amount}}</td>
</tr>
</tbody>
</table>
