{% extends "layouts/list_template.html" %}{% load homepage_helpers %}{% load i18n %}{% load url from future %}
{% block additional_right_button %}
    <a href="{% url 'treatments_new' %}" class="btn btn-primary pull-right">{% trans 'Add New Treatment' as treatment_new %}{{treatment_new|title}}</a>
{% endblock %}
{% block table_headers %}
    <tr>
        <th><a href="?{% sort_field_query 'id' %}">ID</a></th>
        <th width="155px"><a href="?{% sort_field_query 'created_time' %}">Created Time</a></th>
        <th><a href="?{% sort_field_query 'name' %}">Name</a></th>
        <th><a href="?{% sort_field_query 'description' %}">Description</a></th>
        <th><a href="?{% sort_field_query 'treatment_type' %}">Treatment Type</a></th>
    </tr>    
{% endblock %}
{% block table_rows %}
    <td>{{ obj.id }}</td>
    <td>
    	{{obj.created_time|date:'d-m-Y H:i' }}
        <div class="row-tools">
            <a href="{% url 'treatments_edit' obj.id%}" class="btn btn-mini btn-primary btn-xs" title="{% trans 'edit' as edit_label %}{{edit_label|title}}"><span class="glyphicon glyphicon-pencil"></span></a>
        </div>
    </td>
    <td>{{ obj.name }}</td>
    <td>{{ obj.description }}</td>
    <td>{{ obj.treatment_type|get_treatment_type_view|safe }}</td>
{% endblock %}
