/* Tweak navbar brand link to be super sleek
-------------------------------------------------- */
/*.navbar-fixed-top .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  float: right;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}
.navbar-fixed-top .brand:hover {
  text-decoration: none;
}*/

body{
    padding: 60px 0;
}
ul
{
    list-style-type: none;
}
/* list style */
.list-view th a{
    display:block;
    white-space: nowrap;
}
.list-view th a:hover{
    text-decoration:none;   
}
.list-view > .span3{
    padding-top:15px;
}
.list-view .row-tools{
    visibility:hidden;
    padding-top:3px;
    /*color:#999;*/
}
.form-view select{
    width: 350px;
    /*min-height: 250px;*/
}

